.form-container {
    width:30%;
    margin-left:35%;
    background-color:#98DDE2;
    height:60vh;
    margin-top:6.5%;
    row-gap:10vh;
    border-radius:10px;
}
.passwordFields {
    display:flex;
    flex-direction:column;
}
.field-box {
    width:60%;
    margin-left:20%;
    height:2.5vh;
}
.label {
    margin-top:15px;
    text-align:left;
    margin-left:20%;
    margin-bottom:10px;
}
.submit {
    font-family: 'Arial';
    background-color:black;
    color: white;
    margin-top:5%;
    margin-left:20%;
    height: 5vh;
    width: 60%;
    font-size:15px;
    border-radius: 5px;
}