{% extends "staff_template.html" %}
{% block title %} Klinyx Portal - Add Inventory{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<style>
html {
  background-color: #F2F2F2;
}
.form-group{
  padding-bottom:20px;
}
.form-control {
  width: 500px;
  height: 40px;
 }
.navbar a {
    margin: 4.5vh 3.5vh;
}
.space {
    margin-top:0;
    height:55px;
    background:transparent;
}
</style>
<div style="background-color: #F2F2F2; width:90%;">
<h1 class="display-12" style="text-align: center; padding-top: 70px;">Add Inventory</h1>
<div id="feedback" class="container" style="background-color: #98DDE2; border-radius: 25px; padding-top:50px;
padding-bottom:50px; width:60%; margin-left:20%; display:flex; justify-content:center;">

  <div class="row" style="padding-top:10px;">
    <div class="col-md-8">
      <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ render_field(form.name, class="form-control") }}
        </div>
        <div class="form-group">
          {{ render_field(form.price, class="form-control datepicker") }}
        </div>
        <div class="form-group">
          {{ render_field(form.count, class="form-control") }}
        </div>
        <br>
        <div class="row">
          <div class="col-md-12 form-group" style="padding-left:240px; ">
            <input type="submit" value="Create Inventory" class="btn btn-primary"
                   style="background-color: black; height:40px; color:white; padding-left:20px; padding-right:20px;
                    margin-left:-20px;"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    $(document).ready(function() {
      // Initialize the date picker
      $(".datepicker").datepicker({
        dateFormat: "yy-mm-dd"
      });
    });
  </script>
{% endblock %}
