{% extends "staff_template.html" %}

{% block title %} Klinyx - Reset Password {% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='editPassword.css') }}">
<body style="background-color:#F5F5F5;">
<section class="form-container" style="margin-left:25%;">
    <h1 style="padding-top:10%; margin-left:27.5%;">Reset Password</h1>
    {% from "includes/_SignUpFormHelper.html" import render_field %}
    <form method="POST" action="{{ url_for('reset_password', id=user_id) }}" class="passwordFields">
        {{ render_field(form.new_password, class="field-box") }}
        {{ render_field(form.confirm_new_password, class="field-box") }}

        <div>{% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="flashes" style="height:1vh; font-family: 'Arial'; font-size:12px; width:40vh; margin-left:20%;">
              {% for message in messages %}
                <p id="error-msg" style="color:red;">{{ message }}</p>
              {% endfor %}
            </div>
            {% endif %}
        {% endwith %} </div>
        <input type="submit" value="Change Password" class="submit" style="margin-left:13vh;"/>
        <a class="submit" style="padding-top:10px; height:28px; text-align:center;
                color:black; background-color:white; font-size:14px; margin-top:15px;
                border: 2px black;  margin-left:13vh; text-decoration:none;" href="/accountManagement">
                    Cancel</a>
    </form>
</section>
</body>

{% endblock %}